NET "clk1" LOC = "G1";
NET "clk2" LOC = "P4";
NET "clk3" LOC = "N4";
NET "SSLED<6>" LOC = "L14";
NET "SSLED<5>" LOC = "H12";
NET "SSLED<4>" LOC = "N14";
NET "SSLED<3>" LOC = "N11";
NET "SSLED<2>" LOC = "P12";
NET "SSLED<1>" LOC = "L13";
NET "SSLED<0>" LOC = "M12";
NET "LEDSEL<3>" LOC = "K14";
NET "LEDSEL<2>" LOC = "M13";
NET "LEDSEL<1>" LOC = "J12";
NET "LEDSEL<0>" LOC = "F12";
NET "inClk" LOC = "B8";
NET "buttonA" LOC = "A7";
NET "buttonB" LOC = "M4";
NET "reset" LOC = "C11";